.header{
    text-decoration: none;
    list-style-type: none;
    height: 50px;
    background-color: lightblue;
    position: sticky;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-item{
    background-color: lightskyblue;
    height: 70%;
    width: 100px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;

}

.header-item:hover{
    background-color: white;
    cursor: pointer;
}

.header-item-grow{
    flex-grow: 1;
}